<html xmlns="http://www.w3.org/1999/xhtml">


<body>

</form>
<h4>CreateUser</h4>
<form id="userForm" name="Create user">
    <label>
        <input type="number" name="id" placeholder="id">
    </label>
    <label>
        <input type="text" name="name" placeholder="name">
    </label>
    <label>
        <input type="text" name="login" placeholder="login">
    </label>
    <label>
        <input type="password" name="password" placeholder="password">
    </label>
    <button form="userForm" type="submit" value="Create" formmethod="post" formaction="/create">Create</button>
    <button form="userForm" type="submit" value="Update" formmethod="post" formaction="/update">Update</button>
    <button form="userForm" type="submit" value="Delete" formmethod="post" formaction="/delete">Delete</button>
</form>



<h4>All users</h4>
<div th:switch="${users}">
    <h2 th:case="null">No users found!</h2>
    <div th:case="*">
        <h2>Users</h2>
        <table>
            <thead>
            <tr>
                <td style="width: 50px">Id</td>
                <td style="width: 150px">Name</td>
                <td style="width: 100px">Login</td>
                <td style="width: 100px">Password</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.name}"></td>
                <td th:text="${user.login}"></td>
                <td th:text="${user.password}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
